

@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans');
@import url('http://fonts.googleapis.com/css?family=Berkshire+Swash');

body { 
    background-color: #F5FBEF;
    margin: 0;
    padding: 0;
    
}
    
h1 {
background-color:black ;
font-family: 'Josefin Sans', sans-serif;
text-align: center;
padding: 15px;
color: #f5fbef;

}
.section
{width: 70%;
  margin:auto;
  
}
.section img{
  width: 800px;
  margin: auto;
  text-align:center;
}

.content {
  display:flex;
 flex-direction: row-reverse;
 align-items: flex-start;
}

.content img {
  width: 500px;
}
.highlights h1
{
  background-color: #76B041;
  font-size: 20px;
  padding: 8px;
}
.highlights img
{
  width: 500px;
}
.logo h2 {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 20px;
   /*display: flex;*/
}
p {font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
}
.logo {
 
  position: relative;
  top: -40px;
  font-size: 34px;
  color: #F5FBEF;
  border-radius: 50%;
  border: 5px solid #F5FBEF;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding:20px;
   /*font-family: 'Fascinate Inline', cursive;*/

}
.logo img {
  width: 120px;
}

.form {
  margin:auto;
  width:50%;
}
.box1
{
  height:200px;
  width: 30%;  
  background-color: #ff4848;
  background-image: url("../images/pp2.jpg");
  background-size: cover;
}
.box2
{
  height: 200px;
  width: 40%;
  background-image: url("../images/cp1.jpg");
  background-size: cover;
  
}

.box2b
{
  height: 200px;
  width:40%;
   background-image: url("../images/latourette1.jpg");
   background-size: cover;
   
}
.box3
{
  height: 300px;
  width:30%;
  background-color: black;
  background-image: url("../images/vcp3.jpg");
  background-size: cover;
}
.box3b
{
  height: 300px;
  width:30%;
  background-color:green;
  background-image: url("../images/vcp1.jpg");
  background-size: cover;
}

.box4
{
  height: 300px;
  width:40%;
  background-image: url("../images/cp2.jpg");
  background-size:cover;
}
.row1
{
  display: flex;
}
.row2
{
  display: flex;
}

.row3
{
  display: flex;
}
.img
{
padding: 25px;
margin: 10px 5px 10px 5px;
}
/*.containter*/
.flexbox-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffb4ff;
}

.flex-items {
  padding: 25px;
  background-color: #ff4848;
}

header {
  display:flex;
  justify-content:space-between;
   background-color:white;
}

nav{
  width:100%;
  display:flex;
  justify-content:space-around;
  background-color: #486843;
  align-items: center;
  
}

nav a{
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  /*padding: 70px;*/
   color: #F5FBEF  ;
  font-size: 25px;
}

/*sidebar*/
/*.main*/

footer { background-color:  #0b3954;
font-family: 'Josefin Sans', sans-serif;
display: flex;
justify-content: space-around;
padding: 25px;
width: 100%;
margin-top: 25px;

}
footer div {
  margin: 20px;
  color: #f5fbef;
  padding: 25px;
}       


/*colors */
/*color: #F5FBEF; off white*/
/*color: #0b3954; Blue*/
/*color: #5f5449; dark grey*/
/*color: #76B041; Green */
/*color: #F2E043; yellow*/
/*/ green- #62A87C*/
/*/Dark green- #313628*/
486843

